# SOCCER GAME DATABASE

# SQL DATABASE

In [4]:
# Import library
import sqlite3

In [6]:
# Connect to the Database - Change to own path
# Example of path: 'S:\\SQLite\\Week 3\\XXX.db'
conn=sqlite3.connect("S:\\RDBMS\\SQL.db")
cur=conn.cursor()

In [7]:
print(type(conn))

<class 'sqlite3.Connection'>

In [8]:
# Create a new table called COUNTRY_LEAGUE

qry='''
CREATE TABLE COUNTRY_LEAGUE (
        LEAGUE_ID INTEGER   PRIMARY KEY,
        COUNTRY   TEXT (5),
        LEAGUE_NAME TEXT (5)
);
'''
try:
        cur.execute(qry)
        print ('Table created successfully')
except:
# If table already exists then use the SQLite console to connect to the database (BEMM459.db) and then use the drop table command.
# .. Altenatively, use the SQLiteStudio GUI to delete table ECC_DEPARTMENT and execute this code block again.
        print ('Error in creating table')
        
        # Use the next statement with extreme caution as both table and data will be lost
        cur.execute("DROP TABLE IF EXISTS ECC_DEPARTMENT;")

Table created successfully

In [9]:
# Create 5 tables using the method executescript() that is defined in the cursor class.
qry='''
CREATE TABLE TEAM (
        TEAM_ID INTEGER   PRIMARY KEY,
        TEAM_LONG_NAME   TEXT (15),
        TEAM_SHORT_NAME  TEXT (15),
        LEAGUE_NAME TEXT (15) REFERENCES COUNTRY_LEAGUE(LEAGUE_NAME)
    );
CREATE TABLE TEAM_ATTRIBUTES (
        TEAM_ID INTEGER   PRIMARY KEY REFERENCES TEAM(TEAM_ID),
        ATTACKING_RATING   INTEGER,
        MIDFIELD_RATING   INTEGER,
        DEFFENSIVE_RATING INTEGER 
    );
CREATE TABLE PLAYER (
        PLAYER_ID     INTEGER     PRIMARY KEY,
        PLAYER_NAME TEXT (75),
        BIRTHDAY TEXT (75),
        HEIGHT INTEGER,
        WEIGHT INTEGER,
        TEAM_ID INTEGER REFERENCES TEAM(TEAM_ID)
    );
CREATE TABLE PLAYER_ATTRIBUTES (
       PLAYER_ID     INTEGER     PRIMARY KEY REFERENCES PLAYER(PLAYER_ID),
       PLAYER_NAME TEXT (75),
       OVERALL_RATING INTEGER,
       POTENTIAL INTEGER,
       ATTACKING_RATING INTEGER,
       DEFENSIVE_RATING INTEGER
    );
CREATE TABLE MATCH (
       MATCH_ID     INTEGER     PRIMARY KEY,
       LEAGUE_ID INTEGER REFERENCES COUNTRY_LEAGUE(LEAGUE_ID),
       DATE TEXT (30),
       STADIUM TEXT (30),
       HOME_TEAM_SHORT_NAME TEXT (30),
       AWAY_TEAM_SHORT_NAME TEXT (30)
    );    
'''
try:
        cur.executescript(qry)
        print ('Tables created successfully')
except:
        print ('Error in creating tables')

Tables created successfully

In [10]:
# Define a function to list all tables in the database
def tables_in_sqlite_db(conn):
    cursor = conn.execute("SELECT name FROM sqlite_master WHERE type='table';")
    tables = [
        v[0] for v in cursor.fetchall()
        if v[0] != "sqlite_sequence"
    ]
    cursor.close()
    return tables

In [11]:
# check to see if all the new table are created
tables = tables_in_sqlite_db(conn)

#print tables in the current database
print(tables)

['COUNTRY_LEAGUE', 'TEAM', 'TEAM_ATTRIBUTES', 'PLAYER', 'PLAYER_ATTRIBUTES', 'MATCH']

In [34]:
# Insert multiple records in table COUNTRY_LEAGUE
qry="insert into COUNTRY_LEAGUE (LEAGUE_ID,COUNTRY,LEAGUE_NAME) values (?,?,?);"
leaguelist=[(1729,'England','England Premier League'),
            (4769, 'France','France League 1'),
            (7809,'Germany', 'Germany Bundesliga'),
            (10257,'Italy', 'Italy Serie A'),
            (21518,'Spain', 'Spain LIGA BBVA')]

try:
        cur.executemany(qry, leaguelist)
        conn.commit()
        print ('Records inserted successfully..committed')
except:
        print ('Error in insert operation..rollback')
        conn.rollback()

Records inserted successfully..committed

In [35]:
# Insert multiple records in table TEAM
qry="insert into TEAM (TEAM_ID,TEAM_LONG_NAME,TEAM_SHORT_NAME,LEAGUE_NAME) values (?,?,?,?);"
teamlist=[(9,'Liverpool','LIV','England Premier League'),
          (10, 'Manchester City','MCI','England Premier League'),
          (11,'Manchester United', 'MUN','England Premier League'),
          (66,'Olympique Lyonnais', 'LYO','France League 1'),
          (69,'AS Monaco', 'MON','France League 1'),
          (73,'Paris Saint-Germain', 'PSG','France League 1'),
          (21,'FC Bayern Munich', 'BMU','Germany Bundesliga'),
          (22,'Borussia Dortmund', 'DOR','Germany Bundesliga'),
          (32,'Bayer 04 Leverkusen', 'LEV','Germany Bundesliga'),
          (44,'Inter', 'INT','Italy Serie A'),
          (45,'Juventus', 'JUV','Italy Serie A'),
          (47,'Milan', 'ACM','Italy Serie A'),
          (240,'Atletico Madrid', 'AMA','Spain LIGA BBVA'),
          (241,'FC Barcelona', 'BAR','Spain LIGA BBVA'),
          (243,'Real Madrid CF', 'REA','Spain LIGA BBVA')]

try:
        cur.executemany(qry, teamlist)
        conn.commit()
        print ('Records inserted successfully..committed')
except:
        print ('Error in insert operation..rollback')
        conn.rollback()

Records inserted successfully..committed

In [36]:
# Insert multiple records in table TEAM_ATTRIBUTES
qry="insert into TEAM_ATTRIBUTES (TEAM_ID,ATTACKING_RATING,MIDFIELD_RATING,DEFFENSIVE_RATING) values (?,?,?,?);"
teamattributes=[(9,86,83,80),
                (10, 85,86,83),
                (11,83,82,82),
                (66,79,79,77),
                (69,79,77,77),
                (73,87,82,82),
                (21,92,85,82),
                (22,87,81,81),
                (32,74,75,72),
                (44,83,81,83),
                (45,87,81,83),
                (47,84,78,80),
                (240,85,82,83),
                (241,84,82,81),
                (243,84,86,84)]

try:
        cur.executemany(qry, teamattributes)
        conn.commit()
        print ('Records inserted successfully..committed')
except:
        print ('Error in insert operation..rollback')
        conn.rollback()

Records inserted successfully..committed

In [37]:
# Insert multiple records in table PLAYER
qry="insert into PLAYER (PLAYER_ID,PLAYER_NAME,BIRTHDAY,HEIGHT,WEIGHT,TEAM_ID) values (?,?,?,?,?,?);"
playerlists=[(209331,'Mohamed Salah','1992/6/15',175.26,159,9),
             (198784,'Alex Oxlade-Chamberlain','1992/6/15',175.26,154,9),
             (193348,'Xherdan Shaqiri','1991/10/10',170.18,159,9),
             (208722,'Sadio Mane','1992/4/10',175.26,165,9),
             (201942,'Roberto Firmino','1991/10/2',180.34,168,9),
             (202654,'Raheem Sterling','1994/12/8',170.18,152,10),
             (192985,'Kevin De Bruyne','1991/6/28',180.34,168,10),
             (218667,'Bernardo Silva','1994/8/10',172.72,143,10),
             (203574,'John Stones','1994/5/28',187.96,165,10),
             (204884,'Benjamin Mendy','1994/7/17',185.42,165,10),
             (20801,'Cristiano Ronaldo','1985/2/5',185.42,176,11),
             (195864,'Paul Pogba','1993/3/15',190.5,185,11),
             (207494,'Jesse Lingard','1992/12/15',175.26,143,11),
             (231677,'Marcus Rashford','1997/10/31',180.34,154,11),
             (193080,'David de Gea','1990/11/7',193.04,181,11),
             (211591,'Moussa Dembele','1996/7/12',182.8,163,66),
             (217699,'Islam Slimani','1988/6/18',187.96,185,66),
             (215798,'Gnaly Maxwell Cornet','1996/9/27',177.8,152,66),
             (216643,'Leo Dubois','1994/9/14',177.8,143,66),
             (179789,'Damien Da Silva','1988/5/17',182.88,181,66),
             (199451,'Wissam Ben Yedder','1990/8/12',170.18,150,69),
             (200610,'Kevin Volland','1992/7/30',177.8,181,69),
             (181820,'Stevan Jovetic','1989/11/2',182.88,174,69),
             (162895,'Cesc Fabregas','1987/5/4',175.26,163,69),
             (201042,'Djibril Sidibe','1992/7/29',182.88,161,69),
             (158023,'Lionel Messi','1987/6/24',170.18,159,73),
             (190871,'Neymar','1992/2/5',175.26,175.26,73),
             (231747,'Kylian Mbappe Lottin','1998/12/20',177.8,148,73),
             (183898,'Angel Di Maria','1988/2/14',180.34,165,73),
             (155862,'Sergio Ramos','1986/3/30',182.88,165,73),
             (188545,'Robert Lewandowski','1988/8/21',185.42,174,21),
             (167495,'Manuel Neuer','1986/3/27',193.04,203,21),
             (213345,'Kingsley Coman','1996/6/13',177.8,157,21),
             (212622,'Joshua Kimmich','1995/2/8',175.26,154,21),
             (197445,'David Alaba','1992/6/24',180.34,168,21),
             (188350,'Marco Reus','1989/5/3',180.34,165,22),
             (209889,'Raphael Guerreiro','1993/12/22',170.18,148,22),
             (178603,'Mats Hummels','1988/12/16',190.5,203,22),
             (218339,'Mahmoud Dahoud','1996/1/1',177.8,148,22),
             (183277,'Eden Hazard','1991/1/7',172.72,163,22),
             (199042,'Charles Aranguiz','1989/4/17',170.18,154,32),
             (189606,'Julian Baumgartlinger','1988/1/2',182.88,181,32),
             (220633,'Demarai Gray','1996/6/28',177.8,146,32),
             (206591,'Mitchell Weiser','1994/4/21',175.26,148,32),
             (177458,'Sven Bender','1989/4/27',185.42,176,32),
             (184941,'Alexis Sanchez','1988/12/19',170.18,137,44),
             (216352,'Marcelo Brozovic','1992/11/16',180.34,150,44),
             (219985,'Matias Vecino','1991/8/24',187.96,179,44),
             (224232,'Nicolo Barella','1997/2/7',172.72,150,44),
             (190460,'Christian Eriksen','1992/2/14',177.8,157,44),
             (211110,'Paulo Dybala','1993/11/15',175.26,161,45),
             (201153,'lvaro Morata','1992/10/23',187.96,187,45),
             (186561,'Aaron Ramsey','1990/12/26',177.8,154,45),
             (179846,'Sami Khedira','1987/4/4',187.96,198,45),
             (138956,'Giorgio Chiellini','1984/8/14',187.96,190,45),
             (41236,'Zlatan Ibrahimovic','1981/10/3',195.58,209,47),
             (220218,'Ante Rebic','1993/9/21',185.42,170,47),
             (181783,'Mario Mandzukic','1986/5/21',190.5,187,47),
             (208128,'Hakan Calhanoglu','1994/2/8',177.8,168,47),
             (201179,'Antonio Donnarumma','1990/7/7',193.04,212,47),
             (176580,'Luis Suarez','1987/1/24',182.88,187,240),
             (213565,'Thomas Lemar','1995/11/12',170.18,128,240),
             (208418,'Yannick Ferreira-Carrasco','1993/9/4',180.34,146,240),
             (204639,'Stefan Savic','1991/1/8',185.42,161,240),
             (200389,'Jan Oblak','1993/1/7',185.42,192,240),
             (194765,'Antoine Griezmann','1991/3/21',175.26,148,241),
             (153079,'Sergio Aguero','1988/6/2',172.72,163,241),
             (189511,'Memphis Depay','1994/2/13',175.26,172,241),
             (152792,'Sergio Busquets','1988/7/16',187.96,168,241),
             (202556,'Gerard Pique','1987/2/2',193.04,187,241),
             (165153,'Karim Benzema','1987/12/19',187.96,174,243),
             (220834,'Marco Asensio','1996/1/21',177.8,154,243),
             (177003,'Luka Modric','1985/9/9',175.26,143,243),
             (182521,'Toni Kroos','1990/1/4',182.88,172,243),
             (192119,'Thibaut Courtois','1992/5/11',198.12,194,243)]

try:
        cur.executemany(qry, playerlists)
        conn.commit()
        print ('Records inserted successfully..committed')
except:
        print ('Error in insert operation..rollback')
        conn.rollback()

Records inserted successfully..committed

In [38]:
# Insert multiple records in table PLAYER_ATTRIBUTES
qry="insert into PLAYER_ATTRIBUTES (PLAYER_ID,PLAYER_NAME,OVERALL_RATING,POTENTIAL,ATTACKING_RATING,DEFENSIVE_RATING) values (?,?,?,?,?,?);"
playerattributes=[(209331,'Mohamed Salah',90,93,87,45),
                  (198784,'Alex Oxlade-Chamberlain',78,82,74,67),
                  (193348,'Xherdan Shaqiri',79,82,76,46),
                  (208722,'Sadio Mane',88,89,83,44),
                  (201942,'Roberto Firmino',85,89,78,61),
                  (202654,'Raheem Sterling',87,92,80,45),
                  (192985,'Kevin De Bruyne',91,93,86,64),
                  (218667,'Bernardo Silva',86,91,83,54),
                  (203574,'John Stones',82,83,51,83),
                  (204884,'Benjamin Mendy',86,88,70,82),
                  (20801,'Cristiano Ronaldo',92,93,93,35),
                  (195864,'Paul Pogba',86,87,81,65),
                  (207494,'Jesse Lingard',88,89,86,56),
                  (231677,'Marcus Rashford',85,91,85,43),
                  (193080,'David de Gea',86,88,57,89),
                  (211591,'Moussa Dembele',78,81,72,72),
                  (217699,'Islam Slimani',76,83,76,47),
                  (215798,'Gnaly Maxwell Cornet',74,86,75,66),
                  (216643,'Leo Dubois',78,83,59,76),
                  (179789,'Damien Da Silva',81,86,75,66),
                  (199451,'Wissam Ben Yedder',84,90,84,39),
                  (200610,'Kevin Volland',82,85,85,41),
                  (181820,'Stevan Jovetic',77,85,79,35),
                  (162895,'Cesc Fabregas',76,87,81,62),
                  (201042,'Djibril Sidibe',77,81,62,73),
                  (158023,'Lionel Messi',93,98,92,38),
                  (190871,'Neymar',91,97,85,36),
                  (231747,'Kylian Mbappe Lottin',90,93,87,39),
                  (183898,'Angel Di Maria',87,90,85,48),
                  (155862,'Sergio Ramos',89,95,70,88),
                  (188545,'Robert Lewandowski',92,96,92,44),
                  (167495,'Manuel Neuer',90,95,56,92),
                  (213345,'Kingsley Coman',86,91,85,30),
                  (212622,'Joshua Kimmich',89,90,86,83),
                  (197445,'David Alaba',83,90,70,83),
                  (188350,'Marco Reus',84,88,84,46),
                  (209889,'Raphael Guerreiro',83,88,77,83),
                  (178603,'Mats Hummels',87,97,59,90),
                  (218339,'Mahmoud Dahoud',78,82,75,64),
                  (183277,'Eden Hazard',83,89,84,52),
                  (199042,'Charles Aranguiz',81,83,81,76),
                  (189606,'Julian Baumgartlinger',78,85,69,77),
                  (220633,'Demarai Gray',75,82,80,37),
                  (206591,'Mitchell Weiser',74,80,62,77),
                  (177458,'Sven Bender',79,85,74,64),
                  (184941,'Alexis Sanchez',80,84,84,44),
                  (216352,'Marcelo Brozovic',84,88,80,79),
                  (219985,'Matias Vecino',79,85,76,77),
                  (224232,'Nicolo Barella',82,84,80,77),
                  (190460,'Christian Eriksen',83,88,88,53),
                  (211110,'Paulo Dybala',87,91,85,43),
                  (201153,'lvaro Morata',83,87,80,31),
                  (186561,'Aaron Ramsey',82,85,79,71),
                  (179846,'Sami Khedira',84,87,82,75),
                  (138956,'Giorgio Chiellini',86,89,46,89),
                  (41236,'Zlatan Ibrahimovic',84,93,87,34),
                  (220218,'Ante Rebic',79,88,80,39),
                  (181783,'Mario Mandzukic',86,90,87,45),
                  (208128,'Hakan Calhanoglu',81,89,83,59),
                  (201179,'Antonio Donnarumma',86,95,52,89),
                  (176580,'Luis Suarez',87,96,90,51),
                  (213565,'Thomas Lemar',82,85,76,59),
                  (208418,'Yannick Ferreira-Carrasco',83,87,81,45),
                  (204639,'Stefan Savic',83,85,35,85),
                  (200389,'Jan Oblak',91,96,50,92),
                  (194765,'Antoine Griezmann',86,90,83,57),
                  (153079,'Sergio Aguero',87,94,89,33),
                  (189511,'Memphis Depay',83,89,83,36),
                  (152792,'Sergio Busquets',86,89,81,82),
                  (202556,'Gerard Pique',86,94,61,86),
                  (165153,'Karim Benzema',89,91,85,40),
                  (220834,'Marco Asensio',82,86,79,43),
                  (177003,'Luka Modric',87,94,89,72),
                  (182521,'Toni Kroos',88,96,91,71),
                  (192119,'Thibaut Courtois',89,94,46,84)]

try:
        cur.executemany(qry, playerattributes)
        conn.commit()
        print ('Records inserted successfully..committed')
except:
        print ('Error in insert operation..rollback')
        conn.rollback()

Records inserted successfully..committed

In [39]:
# Insert multiple records in table MATCH

qry="insert into MATCH (MATCH_ID,LEAGUE_ID,DATE,STADIUM,HOME_TEAM_SHORT_NAME,AWAY_TEAM_SHORT_NAME) values (?,?,?,?,?,?);"
playerattributes=[(492582,1729,'2021/10/3','Anfield Stadium','LIV','MCI'),
                  (492476,1729,'2022/4/9','Etihad Stadium','MCI','LIV'),
                  (492580,1729,'2022/3/7','Etihad Stadium','MCI','MUN'),
                  (492746,1729,'2021/11/6','Old Trafford','MUN','MCI'),
                  (492749,1729,'2021/10/24','Old Trafford','MUN','LIV'),
                  (492753,1729,'2022/3/21','Anfield Stadium','LIV','MUN'),
                  (838642,4769,'2021/10/17','Gerland Stadium','LYO','MON'),
                  (838669,4769,'2022/2/6','Louis II Stadium','MON','LYO'),
                  (838681,4769,'2022/3/20','Louis II Stadium','MON','PSG'),
                  (838701,4769,'2022/3/20','Parc des Princes','PSG','MON'),
                  (838478,4769,'2021/9/20','Parc des Princes','PSG','LYO'),
                  (838727,4769,'2022/1/10','Gerland Stadium','LYO','PSG'),
                  (1032794,7809,'2021/12/5','Allianz Arena','BMU','DOR'),
                  (1032798,7809,'2022/4/23','Signal Iduna Park','DOR','BMU'),
                  (1032808,7809,'2022/2/6','Signal Iduna Park','DOR','LEV'),
                  (1032821,7809,'2021/9/11','BayArena','LEV','DOR'),
                  (1032835,7809,'2021/10/17','BayArena','LEV','BMU'),
                  (1032849,7809,'2022/3/5','Allianz Arena','BMU','LEV'),
                  (493096,10257,'2021/10/25','Stadio Giuseppe Meazza','INT','JUV'),
                  (493100,10257,'2022/4/3','Juventus Arena','JUV','INT'),
                  (493108,10257,'2021/9/20','Juventus Arena','JUV','ACM'),
                  (492508,10257,'2022/1/24','San Siro','ACM','JUV'),
                  (492522,10257,'2021/11/8','San Siro','ACM','INT'),
                  (492527,10257,'2022/2/6','Stadio Giuseppe Meazza','INT','ACM'),
                  (665325,21518,'2021/10/3','Wanda-Metropolitano','AMA','BAR'),
                  (665430,21518,'2022/2/6','Nou Camp','BAR','AMA'),
                  (665536,21518,'2021/10/24','Nou Camp','BAR','REA'),
                  (665548,21518,'2022/3/21','Santiago Bernabeu','REA','BAR'),
                  (665577,21518,'2021/12/13','Santiago Bernabeu','REA','AMA'),
                  (665329,21518,'2022/5/9','Wanda-Metropolitano','AMA','REA')]

try:
        cur.executemany(qry, playerattributes)
        conn.commit()
        print ('Records inserted successfully..committed')
except:
        print ('Error in insert operation..rollback')
        conn.rollback()

Records inserted successfully..committed

In [40]:
# Query and display one record from PLAYER

# Prepare the query String
qry="select * from PLAYER;"

# Execute query on SQLite
cur.execute(qry)

# Fetch and display one row
row=cur.fetchone()

print (row)

(20801, 'Cristiano Ronaldo', '1985/2/5', 185.42, 176, 11)

In [41]:
# Insert one record in table PLAYER

qry="insert into PLAYER values (20000,'XIAOMING','1988/1/22',175.26,178,11);"

try:
        cur.execute(qry)
        conn.commit()
        print ('One record inserted successfully..commit')
except:
        print ('Error in insert operation..rollback')
        conn.rollback()
        print(conn)

One record inserted successfully..commit

In [42]:
# Delete record based on user input

inputPLAYER_NAME=input('Enter name of PLAYER_NAME to delete:')
qry='delete from PLAYER where PLAYER_NAME=?'
try:
        cur.execute(qry, (inputPLAYER_NAME,))
        print ('PLAYER deleted')
        conn.commit()
except:
        print ('Error in deleting PLAYER', inputPLAYER_NAME)
        conn.rollback()

Enter name of PLAYER_NAME to delete:XIAOMING
PLAYER deleted

In [43]:
# Update table based on user input

inputPLAYER_NAME=input('Enter name of PLAYER_NAME to update:')
inputPLAYER_ID=int(input('Enter new PLAYER_ID:'))

qry='update PLAYER set PLAYER_ID=? where PLAYER_NAME=?'

try:
        cur.execute(qry, (inputPLAYER_NAME,inputPLAYER_ID))
        print ('PLAYER name updated')
        conn.commit()
except:
        print ('Error in update operation .. rollback')
        conn.rollback()

Enter name of PLAYER_NAME to update:Cristiano Ronaldo
Enter new PLAYER_ID:30100
PLAYER name updated

In [4]:
# Close database connection
conn.close()

---------

# NoSQL Database - Redis

In [2]:
# Import packages
import redis
import xlrd

# Main class Redis() which you use to execute Redis commands (the port and db=0 are default values)
# Localhost = 127.0.0.1
r = redis.Redis(host='localhost', port=6379, db=10)

# Check database connection -will return true if successful
print(r.ping())

True

# ***Shopping basket(hash)***

Key(basket:GamerName:"John")     Field(product id)     Amount(The number of item you buy)

### 1.Add item in shopping basket(Create)

In [3]:
# Gamer 'John' Add 1 product of 10021, 2 product of 10031, 3 product of 10041, 1 product of 10051
r.hset("Basket:GamerName:John","10021","1")
r.hset("Basket:GamerName:John","10031","2")
r.hset("Basket:GamerName:John","10041","3")
r.hset("Basket:GamerName:John","10051","1")

0

In [4]:
# Gamer 'Ben' Add 5 product of 10031, 7 product of 10091, 3 product of 10021, 2 product of 10061
r.hset("Basket:GamerName:Ben","10031","5")
r.hset("Basket:GamerName:Ben","10091","7")
r.hset("Basket:GamerName:Ben","10021","3")
r.hset("Basket:GamerName:Ben","10061","2")

0

In [5]:
# Gamer 'Mike' Add 3 product of 10021, 3 product of 10051, 5 product of 10061, 3 product of 10071
r.hset("Basket:GamerName:Mike","10021","3")
r.hset("Basket:GamerName:Mike","10051","3")
r.hset("Basket:GamerName:Mike","10061","5")
r.hset("Basket:GamerName:Mike","10071","3")

0

In [6]:
#Add more information in shopping basket database
r.hset("Basket:GamerName:Sunny","10081","1")
r.hset("Basket:GamerName:Tom","10021","5")
r.hset("Basket:GamerName:Ken","10001","1")
r.hset("Basket:GamerName:Peter","10011","9")
r.hset("Basket:GamerName:Tommy","10061","2")
r.hset("Basket:GamerName:Kendrick","10036","2")
r.hset("Basket:GamerName:Oven","10081","1")
r.hset("Basket:GamerName:Iboy","10071","2")
r.hset("Basket:GamerName:Susan","10051","1")

0

##### check the prodcut is added

In [7]:
r.hget("Basket:GamerName:John","10021")

b'1'

In [8]:
r.hget("Basket:GamerName:Ben","10031")

b'5'

In [9]:
r.hget("Basket:GamerName:Mike","10021")

b'3'

### 2. Get all the items in one's shopping basket(Retrieve)

In [10]:
r.hgetall("Basket:GamerName:John")

{b'10031': b'2', b'10041': b'3', b'10051': b'1', b'10021': b'1'}

In [11]:
r.hgetall("Basket:GamerName:Ben")

{b'10031': b'5', b'10091': b'7', b'10021': b'3', b'10061': b'2'}

In [12]:
r.hgetall("Basket:GamerName:Mike")

{b'10021': b'3', b'10051': b'3', b'10061': b'5', b'10071': b'3'}

### 3.See how many kind of product the gamer have in a basket(Retrieve)

In [13]:
r.hlen("Basket:GamerName:John")

4

### 4. Delete a product from a basket(Delete)

In [14]:
#delete product 10021 from John's basket
r.hdel("Basket:GamerName:John","10021")

1

In [15]:
#check that product 10021 was deleted
r.hgetall("Basket:GamerName:John")

{b'10031': b'2', b'10041': b'3', b'10051': b'1'}

### 5.Increase and decrease the quantity of products(Update)

In [16]:
#John buys 3 more product 10051
r.hincrby("Basket:GamerName:John","10051","3")

4

In [17]:
#check 3 product 10051 is added
r.hgetall("Basket:GamerName:John")

{b'10031': b'2', b'10041': b'3', b'10051': b'4'}

In [18]:
#John decrease 1 product 10051
r.hincrby("Basket:GamerName:John","10051","-1")

3

In [19]:
#check 1 product 10051 is added
r.hgetall("Basket:GamerName:John")

{b'10031': b'2', b'10041': b'3', b'10051': b'3'}

---------------

# ***Social System(set)***

## We have 2 list in social network, following list and Fans list
Following list : Key(Follow:GamerName:John) Value(GamerName)

Fans list : Key(Fans:GamerName:John) Value(GamerName)

### 1.follow a gamer(Create)
2 step for following

1)Add the other person's Username to your following list

2)Add your Username to other person's Fans list

In [20]:
#Gamer: John
# 1)Add the other person's Username to your following list
r.sadd("Follow:GamerName:John","Ben")
r.sadd("Follow:GamerName:John","Mike")
r.sadd("Follow:GamerName:John","Tom")
r.sadd("Follow:GamerName:John","Dickson")

#2)Add your Username to other person's Fans list
r.sadd("Fans:GamerName:Ben","John")
r.sadd("Fans:GamerName:Mike","John")
r.sadd("Fans:GamerName:Tom","John")
r.sadd("Fans:GamerName:Dickson","John")

0

In [21]:
#Gamer: Mike
# 1)Add the other person's Username to your following list
r.sadd("Follow:GamerName:Mike","Ben")
r.sadd("Follow:GamerName:Mike","John")
r.sadd("Follow:GamerName:Mike","Tom")
r.sadd("Follow:GamerName:Mike","Dickson")

#2)Add your Username to other person's Fans list
r.sadd("Fans:GamerName:Ben","Mike")
r.sadd("Fans:GamerName:John","Mike")
r.sadd("Fans:GamerName:Tom","Mike")
r.sadd("Fans:GamerName:Dickson","Mike")

0

In [22]:
#Gamer: Dickson
# 1)Add the other person's Username to your following list
r.sadd("Follow:Dickson","Ben")
r.sadd("Follow:Dickson","John")
r.sadd("Follow:Dickson","Tom")
r.sadd("Follow:Dickson","Mike")

#2)Add your Username to other person's Fans list
r.sadd("Fans:Ben","Dickson")
r.sadd("Fans:John","Dickson")
r.sadd("Fans:Tom","Dickson")
r.sadd("Fans:Mike","Dickson")

0

In [23]:
#Gamer: Joker
# 1)Add the other person's Username to your following list
r.sadd("Follow:Joker","Ben")
r.sadd("Follow:Joker","John")
r.sadd("Follow:Joker","Tom")
r.sadd("Follow:Joker","Mike")

#2)Add your Username to other person's Fans list
r.sadd("Fans:Ben","Joker")
r.sadd("Fans:John","Joker")
r.sadd("Fans:Tom","Joker")
r.sadd("Fans:Mike","Joker")

0

### 2. follow a new gamer(Update)

In [24]:
#John follow a new gamer call Danny
# 1)Add the Danny into John's following list
r.sadd("Follow:John","Danny")

#2)Add John to Danny's Fans list
r.sadd("Fans:GamerName:Danny","John")

1

### 3.unfollow a gamer(Delete)
2 step for unfollowing

1)remove the other person's Username from your following list

2)remove your Username from other person's Fans list

In [25]:
#1)remove the 'Ben' from John's following list
r.srem("Follow:GamerName:John","Ben")

1

In [26]:
#2)remove 'john' from Ben's Fans list
r.srem("Fans:GamerName:Ben","John")

1

### 4.Check one's following list(Retrieve)

In [27]:
#Check John's following list
r.smembers("Follow:GamerName:John")

{b'Dickson', b'Mike', b'Tom'}

### 5.Check one's Fans list(Retrieve)

In [28]:
#Check Ben's Fans list
r.smembers("Fans:GamerName:Ben")

{b'Mike'}

### 6.Relationship(Retrieve)

#### 1) Unilateral following

I follow him, but he did not follow me

We can check that by

In [29]:
#Check that is John following ben?
r.sismember("Follow:GamerName:John","Ben")

False

In [30]:
#Check that is Ben following John?
r.sismember("Follow:GamerName:Ben","John")

False

In [31]:
# If First code return True, Second return False, means 'John' is unilateral following 'Ben'

#### 2) Unilateral fans
He follow me, but I did not follow him.

We can check that by

In [32]:
#Check that is ben in John's fans list?
r.sismember("Fans:GamerName:Ben","John")

False

In [33]:
#Check that is John in ben's fans list?
r.sismember("Fans:GamerName:John","Ben")

False

In [34]:
# If First code return True, Second return False, means 'John' is unilateral fans of 'Ben'

#### 3)mutual following
both following each other

In [35]:
#Check that is John following ben?
r.sismember("Follow:GamerName:John","Mike")

True

In [36]:
#Check that is Ben following John?
r.sismember("Follow:GamerName:Mike","John")

True

In [37]:
#If both return true, means they are mutual following each other.

### 7.Check  the amout of fans and following(Retrieve)

In [38]:
#Check how many gamers that john are following
r.scard("Follow:John")

1

In [39]:
#Check how many fans John has.
r.scard("Fans:John")

2

### 8.Check  all mutual following, mutual fans(Retrieve)

In [40]:
#list the gamers were both followed by John and Mike
r.sinter("Follow:John","Follow:Mike")

set()

In [41]:
# no one was both followed by John and Mike

In [42]:
#list the gamers who are following John and Mike
r.sinter("Fans:John","Fans:Mike")

{b'Dickson', b'Joker'}

-------

# Leadershipborad(sorted set)
Key(Score:Gamername:"John") Value(Score)

### 1.Set Gamers' Score(Create)

In [43]:
#Ten gamers scores are set below,
#overwriting the previous score if the player score already exists.
r.zadd("lb:GamerName", 
            {"John": 103,
             "Mike": 95, 
             "Tom": 774, 
             "Dickson": 888, 
             "Ben": 695,
             "Lee": 34,
             "Alan": 1907,
             "Sally": 69,
             "Wendy": 837,
             "Clay": 820}
             )

1

### 2.Check Gamers' Score(Retrieve)

In [44]:
#check GamerName:John's Score
r.zscore("lb:GamerName","John")

103.0

### 3.View the leaderboard by rank(Retrieve)

In [45]:
### Check the ranking of all gamers
r.zrevrange("lb:GamerName",0, -1, "WITHSCORES")

[(b'Alan', 1907.0),
 (b'Dickson', 888.0),
 (b'Wendy', 837.0),
 (b'Clay', 820.0),
 (b'Tom', 774.0),
 (b'Ben', 695.0),
 (b'John', 103.0),
 (b'Mike', 95.0),
 (b'Sally', 69.0),
 (b'Lee', 34.0)]

In [46]:
### Check the gamer who rank in 3rd
r.zrevrange("lb:GamerName", 2, 2, "WITHSCORES")

[(b'Wendy', 837.0)]

### 4.Check Gamer's ranking using their Gamername(Retrieve)

In [47]:
#Check John's ranking
r.zrevrank("lb:GamerName", "John")

6

### 5.Change Gamer's Score(Update)

In [48]:
#Increase Mike's score by 100 to rank 6 then surpassing John.
r.zincrby("lb:GamerName", 100, "Mike")

195.0

In [49]:
#Check the Ranking,
r.zrevrange("lb:GamerName",5, -1, "WITHSCORES")

[(b'Ben', 695.0),
 (b'Mike', 195.0),
 (b'John', 103.0),
 (b'Sally', 69.0),
 (b'Lee', 34.0)]

In [50]:
#Mike's score is 195 now and he rank 6.

### 6.Remove a Gamer from Leaderboard(Delete)

In [51]:
#Remove Lee from leaderboard
r.zrem("lb:GamerName", "Lee")

1

In [52]:
#Check Lee was already removed
r.zrevrange("lb:GamerName",0, -1, "WITHSCORES")

[(b'Alan', 1907.0),
 (b'Dickson', 888.0),
 (b'Wendy', 837.0),
 (b'Clay', 820.0),
 (b'Tom', 774.0),
 (b'Ben', 695.0),
 (b'Mike', 195.0),
 (b'John', 103.0),
 (b'Sally', 69.0)]

### 7.Check the top N and Last N players in the rankings(Retrieve)

In [53]:
#Check top 5 players in the ranking
r.zrevrange("lb:GamerName",0, 4, "WITHSCORES")

[(b'Alan', 1907.0),
 (b'Dickson', 888.0),
 (b'Wendy', 837.0),
 (b'Clay', 820.0),
 (b'Tom', 774.0)]

In [54]:
#Check last 5 players in the ranking
r.zrevrange("lb:GamerName",-5, -1, "WITHSCORES")

[(b'Tom', 774.0),
 (b'Ben', 695.0),
 (b'Mike', 195.0),
 (b'John', 103.0),
 (b'Sally', 69.0)]

# Save data

In [55]:
r.dbsize()

28

In [56]:
r.bgsave()

True

# Novelty Code

In [57]:
#Shopping basket(hash)
r.hlen

#Social Network(set)
r.srem
r.sismember
r.scard
r.sinter

#Leadershipborad(sorted set)
r.zscore
r.zrevrange
r.zrevrank